<div id="wrapper">
  <section>
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a href="#">

          </a>
        </li>
        <li>
          <a href="#">Dashboard</a>
        </li>
        <li>
          <a href="#">get/</a>
        </li>
        <li>
          <a href="#">post/</a>
        </li>
        <li>
          <a href="#">delete/</a>
        </li>
        <li>
          <a href="#">getById/</a>
        </li>
        <li>
          <a href="#">Services</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
      </ul>
    </div>
  </section>

  <section class="experience">
    <div class="page-content-wrapper">
      <div class="container">

        <div class="row mt-5">

          <div class="col-4">

            <div class="experience__company">
              <img src="../assets/experience/experience.png" alt="experience" />

              <div class="experience__company--details">
                <span class="experience__company--title">
                  getWorth</span><br>
                <span class="experience__company--info">Cape Town</span> <br>
                <span class="experience__company--info">Web Developer</span>
                <br>
              </div>

            </div>
            <div class="experience__company--footer">
              <span>
                18 January 2021 - Present
              </span>
            </div>
          </div>

          <div class="col-8">
            <div class="experience__respo">
              <ul class="list-group list-group-flush">
                <li class="list-group-item title text-center" aria-current="true">Responsibilities</li>
                <li class="list-group-item">Used Aurelia as a framework to create a single-page application (SPA) that
                  can bind data to specific views and synchronize data with the server using Bootstrap, Sass, CSS, and
                  Aurelia.</li>
                <li class="list-group-item">Developed web pages using HTML/CSS and JavaScript.</li>
                <li class="list-group-item">Created highly responsive and scalable web applications for client use.</li>
                <li class="list-group-item">Fixed bugs and provided support services for the application.</li>
                <li class="list-group-item">Involved in designing the user experience interface UI/UX strategy, UI
                  requirements, and converting findings into UI Designs.</li>
                <li class="list-group-item">Developed, designed, tested, and debugged applications from the foundational
                  level up to full production levels.</li>

                <li class="list-group-item envi text-center">
                  <img src="../assets/aurelia.png" alt="" width="90" />
                  <img src="../assets/css.png" alt="" width="75" />
                  <img src="../assets/javascript.png" alt="" width="65" />
                  <img src="../assets/jquery.png" alt="" width="60" />
                  <img src="../assets/html.png" alt="" width="40" />
                  <img src="../assets/bootstrap.png" alt="" width="40" />
                  <img src="../assets/wordpress.png" alt="" width="40" />
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="row mt-5">

          <div class="col-4">

            <div class="experience__company">
              <img src="../assets/contact-banner.jpg" alt="experience" />

              <div class="experience__company--details">
                <span class="experience__company--title">
                  immedia ecosystem</span><br>
                <span class="experience__company--info">Durban</span> <br>
                <span class="experience__company--info">Software Developer</span>
                <br>
              </div>

            </div>
            <div class="experience__company--footer">
              <span>
                04 July 2016 - 15 January 2021
              </span>
            </div>
          </div>

          <div class="col-8">
            <div class="experience__respo">
              <ul class="list-group list-group-flush">
                <li class="list-group-item title text-center" aria-current="true">Responsibilities</li>

                <li class="list-group-item"> Used angular Js and Angular 6+ frameworks for building web apps.</li>
                <li class="list-group-item">Used Jasmine/Karma for unit testing & Performed client-side validations of
                  JavaScript.</li>
                <li class="list-group-item">Consulted regularly with customers on project status, proposals, and
                  technical issues.</li>
                <li class="list-group-item">Responsible for code optimization and testing across browsers.</li>
                <li class="list-group-item">Coding pages with the best Search Engine Optimization (SEO)
                  techniques.</li>
                <li class="list-group-item">Implemented project using Agile SCRUM methodology, involved in
                  daily stand-up meetings, sprint showcase, and sprint retrospective.</li>
                <li class="list-group-item">Interact with other developers and end users to design and
                  implement new features throughout the framework.</li>

                <li class="list-group-item envi text-center">
                  <img src="../assets/angularjs.png" alt="" width="90" />
                  <img src="../assets/typescript.png" alt="" width="80" />
                  <img src="../assets/javascript.png" alt="" width="70" />
                  <img src="../assets/css.png" alt="" width="60" />
                  <img src="../assets/jquery.png" alt="" width="50" />
                  <img src="../assets/html.png" alt="" width="40" />
                  <img src="../assets/bootstrap.png" alt="" width="40" />
                  <img src="../assets/php.png" alt="" width="40" />
                  <img src="../assets/wordpress.png" alt="" width="40" />
                  <img src="../assets/mysql.png" alt="" width="40" />
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
