<div id="wrapper">
  <section>
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a href="#">
            Start Bootstrap
          </a>
        </li>
        <li>
          <a href="#">Dashboard</a>
        </li>
        <li>
          <a href="#">Shortcuts</a>
        </li>
        <li>
          <a href="#">Overview</a>
        </li>
        <li>
          <a href="#">Events</a>
        </li>
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">Services</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
      </ul>
    </div>
  </section>

  <section class="experience">
    <div class="page-content-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-3">
            <div class="experience__company" style="background-color: antiquewhite; padding: 1rem 3rem; text-align: center;">
              <img src="../assets/sass.png" alt="" width="200" />
              <div>
                <span>
                  getWorth
                </span><br>

                <span>Cape Town</span> <br>

                <span>Web Developer</span>

                <br>

              </div>
            </div>
            <div class="experience__company experience__company--footer" style="padding: 2px; background: red; text-align: center;">
              <span>
                12-00-00 - present
              </span>
            </div>
          </div>

          <div class="col-9">
            <div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item active text-center" aria-current="true">Responsibilities</li>
                <li class="list-group-item">Used Aurelia as a framework to create a single-page application (SPA) that
                  can bind data to specific views and synchronize data with the server using Bootstrap, Sass, CSS, and
                  Aurelia.</li>
                <li class="list-group-item">Developed web pages using HTML/CSS and JavaScript.</li>
                <li class="list-group-item">Involved in designing the user experience interface UI/UX strategy, UI
                  requirements, and converting findings into UI Designs.</li>
                <li class="list-group-item">Fixed bugs and provided support services for the application.</li>
                <li class="list-group-item">Developed, designed, tested, and debugged applications from the foundational
                  level up to full production levels.</li>
                <li class="list-group-item">Created highly responsive and scalable web applications for client use.</li>

                <li class="list-group-item text-center"><img src="../assets/angularjs.png" alt="" width="40" />
                  <span class="badge bg-primary rounded-pill">Aurelia</span>
                  <img src="../assets/aurelia.png" alt="" width="40" />
                  <span class="badge bg-primary rounded-pill">HTML</span>
                  <img src="../assets/css.png" alt="" width="40" />
                  <span class="badge bg-primary rounded-pill">CSS3</span>
                  <img src="../assets/typescript.png" alt="" width="40" />
                  <span class="badge bg-primary rounded-pill">TypeScript</span>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-3">
            <div style="background-color: antiquewhite; padding: 1rem 3rem; text-align: center;">
              <img src="../assets/sass.png" alt="" width="200" />
              <div>
                <span>
                  getWorth
                </span><br>

                <span>Cape Town</span> <br>

                <span>Web Developer</span>

                <br>

              </div>
            </div>
            <div style="padding: 2px; background: red; text-align: center;">
              <span>
                12-00-00 - present
              </span>
            </div>
          </div>

          <div class="col-9">
            <div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item active text-center" aria-current="true">Responsibilities</li>
                <li class="list-group-item">Used Aurelia as a framework to create a single-page application (SPA) that
                  can bind data to specific views and synchronize data with the server using Bootstrap, Sass, CSS, and
                  Aurelia.</li>
                <li class="list-group-item">Developed web pages using HTML/CSS and JavaScript.</li>
                <li class="list-group-item">Involved in designing the user experience interface UI/UX strategy, UI
                  requirements, and converting findings into UI Designs.</li>
                <li class="list-group-item">Fixed bugs and provided support services for the application.</li>
                <li class="list-group-item">Developed, designed, tested, and debugged applications from the foundational
                  level up to full production levels.</li>
                <li class="list-group-item">Created highly responsive and scalable web applications for client use.</li>

                <li class="list-group-item text-center"><img src="../assets/angularjs.png" alt="" width="40" />
                  <span class="badge bg-primary rounded-pill">Aurelia</span>
                  <img src="../assets/aurelia.png" alt="" width="40" />
                  <span class="badge bg-primary rounded-pill">HTML</span>
                  <img src="../assets/css.png" alt="" width="40" />
                  <span class="badge bg-primary rounded-pill">CSS3</span>
                  <img src="../assets/typescript.png" alt="" width="40" />
                  <span class="badge bg-primary rounded-pill">TypeScript</span>
                </li>
              </ul>
            </div>
          </div>
        </div>


        <hr>

        <div class="row">
          <div class="col-3">
            <div style="background-color: antiquewhite; padding: 1rem 3rem; text-align: center;">
              <img src="../assets/sass.png" alt="" width="200" />
              <div>
                <span>
                  getWorth
                </span><br>

                <span>Cape Town</span> <br>

                <span>Web Developer</span>

                <br>

              </div>
            </div>
            <div style="padding: 2px; background: red; text-align: center;">
              <span>
                12-00-00 - present
              </span>
            </div>
          </div>

          <div class="col-9">
            <div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item active text-center" aria-current="true">Responsibilities</li>
                <li class="list-group-item">Used Aurelia as a framework to create a single-page application (SPA) that
                  can bind data to specific views and synchronize data with the server using Bootstrap, Sass, CSS, and
                  Aurelia.</li>
                <li class="list-group-item">Developed web pages using HTML/CSS and JavaScript.</li>
                <li class="list-group-item">Involved in designing the user experience interface UI/UX strategy, UI
                  requirements, and converting findings into UI Designs.</li>
                <li class="list-group-item">Fixed bugs and provided support services for the application.</li>
                <li class="list-group-item">Developed, designed, tested, and debugged applications from the foundational
                  level up to full production levels.</li>
                <li class="list-group-item">Created highly responsive and scalable web applications for client use.</li>

                <li class="list-group-item text-center"><img src="../assets/angularjs.png" alt="" width="40" />
                  <span class="badge bg-primary rounded-pill">Aurelia</span>
                  <img src="../assets/aurelia.png" alt="" width="40" />
                  <span class="badge bg-primary rounded-pill">HTML</span>
                  <img src="../assets/css.png" alt="" width="40" />
                  <span class="badge bg-primary rounded-pill">CSS3</span>
                  <img src="../assets/typescript.png" alt="" width="40" />
                  <span class="badge bg-primary rounded-pill">TypeScript</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
