.contact {
  &--header {
    background: linear-gradient(0deg, #000000, rgb(3 14 16 / 57%)), url(/assets/contact-banner.jpg);
    // NOTE: RESIZE
    height: auto;
    padding: 4rem 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero {
    &__profile-img {

      img {
        max-width: 200px;
        border-radius: 100%;
      }
    }

    &__profile-summary {
      h1 {
        text-transform: uppercase;
        font-weight: 600;
      }

      span {
        font-size: 20px;
      }

      h1,
      span {
        color: #fff;
      }
    }
  }

  &--main-content {
    &__contact-block {
      margin: 1rem 0rem;
      padding: 3rem 1rem;
      text-align: center;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      background-color: #dbe3f3;

      &--textwrapper {
        span {
          font-weight: 600;
        }
      }
    }
  }

}

// NOTE: IMPROVE
.main-content {
  &__skillsrow-wrapper {
    padding: 2rem;
    background: #ffffffa1;
    margin: 2rem;

    .progress {
      height: 10px;
      margin: 5px 3rem 5px 0rem;
    }

    .progress-bar {
      background-color: #055160;
    }

    .w-hr {
      width: 210px;
    }
  }


  &__skills-left {
    span {
      font-size: 18px;
      font-weight: 600;
    }
  }

  &__skills-right {
    span {
      font-size: 18px;
    }
  }
}

.skills {
  background-color: #055160;
  padding: 2rem 0;

  .w-hr {
    width: 410px;
  }
}

.hobbies-wrapper {
  padding: 1rem 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  h6 {
    margin: 0 10px;
    font-size: 20px;
  }

  img {
    max-width: 40px;
  }

  &__education {
    img {
      max-width: 100%;
      margin-bottom: 10px;
    }

    #qualification {
      color: #055160;
      font-size: 14px;
    }

    #varsity-text {
      font-size: 16px;
    }
  }

  &__lang {
    padding: 1rem 0;
    background-color: #dbe3f3;
  }

  &__inner-wrapper {
    margin: 1rem 0;
  }
}
