<section class="home home--navbar">
  <!-- icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <div class="col-6">
        <a class="navbar-brand" href="#">Software Developer</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>

      <div class="col-6">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav  text-right d-flex">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
            <a routerLink="/experience" ariaCurrentWhenActive="page" class="nav-link" href="#">Experience</a>
            <a class="nav-link" routerLink="/portfolio" ariaCurrentWhenActive="page" href="#">Portfolio</a>
            <a class="nav-link" routerLink="/contact" href="#">Contact</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</section>

<main>
  <router-outlet> </router-outlet>
</main>
