@import '../mixins';

.home {
  &--navbar {
    position: fixed;
    width: 100%;
    display: block;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: #AA336A;

    .container--nav {
      display: block !important;
    }

    .navbar {
      display: block;
      width: 100%;
    }

    .navbar-brand {
      color: #fff;
      font-weight: 600;
      text-transform: uppercase;

      &:hover {
        opacity: 0.5;
      }
    }

    #navbarNavAltMarkup {
      justify-content: right;
      justify-items: right;
      display: flex;

      .navbar-nav {
        @include for-ipad() {
          display: block;
        }
      }

      @include for-ipad() {
        display: block;
      }

      .nav-link {
        color: #fff;
        font-weight: 600;
        font-size: 15px;
        text-transform: uppercase;

        @include for-ipad() {
          display: inline;
          font-size: 13px;
          padding: 0 10px 0px 0px;
        }

        &:hover {
          opacity: 0.5;
        }
      }
    }

    @include for-ipad() {
      text-align: center;
    }
  }
}
