.home {
  &--navbar {
    position: fixed;
    width: 100%;
    display: block;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: #AA336A;

    .navbar-brand {
      color: #fff;
      font-weight: 600;
      text-transform: uppercase;

      &:hover {
        opacity: 0.5;
      }
    }

    #navbarNavAltMarkup {
      justify-content: right;
      justify-items: right;

      .nav-link {
        color: #fff;
        font-weight: 600;
        font-size: 15px;
        text-transform: uppercase;

        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
}
