<section class="home home--header hero">
  <div class="container text-center">
    <div class="hero__profile-img">
      <img src="./assets/profile.jpg" alt="profile-image" />
      <!--NOTE: Resize -->
    </div>

    <div class="hero__profile-summary">
      <h1>Nosipho Nsibande</h1>
      <span>Software Developer, Web Developer</span>
    </div>

    <div class="hero__socials">
      <a href="https://github.com/NosiphoNsibande/" target="_blank" class="fa fa-github"></a>
      <a href="#" class="fa fa-facebook"></a>
      <a href="https://www.linkedin.com/in/nosipho-nsibande-831656122/" target="_blank" class="fa fa-linkedin"></a>
      <a href="#" class="fa fa-twitter"></a>
    </div>

    <div class="hero__btn-wrapper">
      <button type="button" class="btn w-btn w-btn-primary"><i class="fa fa-download"></i>Resume</button>
      <a routerLink="/experience" id="hireMe" type="button" class="btn w-btn w-btn-secondary"><i
          class="fa fa-paper-plane"></i> Hire Me</a>
    </div>
  </div>
</section>

<section class="home main-content">
  <div class="container">
    <div class="row main-content__row-wrapper">

      <div class="col-sm-7 col-md-12 col-lg-7">
        <div class="main-content__header">
          <h1>About Me</h1>
          <hr class="w-hr">
        </div>
        <div class="main-content__summary">
          <p>
            Proficient Front-End Developer effective at developing strong web applications that achieve customer
            objectives. Well-versed in using angular 6+,
            angular js, Aurelia, JavaScript, and Typescript as well as other resources to accomplish design
            requirements.
            Prepared to offer 5+ years of development experience to a growing company. Experience includes collaborating
            in team-driven environments to create
            high-performance web applications that customers and business both love.
          </p>
        </div>
      </div>

      <div class="col-sm-5 col-md-12 col-lg-5">
        <div class="main-content__header mb-3 text-center">
          <h4>Tech Stack</h4>

        </div>
        <div class="techStack text-center">
          <div>
            <img id="javascript" src="./assets/stack/javascript.png" alt="" />
            <img src="./assets/typescript.png" alt="" />
            <img src="./assets/php.png" alt="" />
            <img src="./assets/bootstrap.png" alt="" />

          </div>

          <div>
            <img src="./assets/stack/angularjs.png" width="90" alt="" />
            <img src="./assets/wordpress.png" alt="" />
            <img src="./assets/sass.png" alt="" />
            <img id="aurelia" src="./assets/aurelia.png" alt="" />

          </div>

          <div>
            <img src="./assets/html.png" width="80" alt="" />
            <img id="angular" src="./assets/angularjs.png" alt="" />
            <img src="./assets/css.png" width="70" alt="" />
            <img src="./assets/stack/reactjs.png" width="60" alt="" />
            <img class="m-2" src="./assets/stack/mongodb.png" width="50" alt="" />
          </div>



        </div>
      </div>

    </div>
  </div>
</section>

<section class="home main-content skills">
  <div class="container">
    <div class="row main-content__row-wrapper">
      <div class="main-content__header">
        <h1>
          Professional Skills
        </h1>
        <hr class="w-hr">
      </div>
      <div class="col-sm-12 col-lg-6 main-content__skills-left">
        <div class="main-content__skills-left--wrapper">
          <span>JavaScript</span>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="50" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
        </div>

        <div class="main-content__skills-left--wrapper">
          <span>Aurelia</span>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 96%" aria-valuenow="25" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
        </div>

        <div class="main-content__skills-left--wrapper">
          <span>Angular & AngularJS</span>
          <div class="progress">
            <div class="progress-bar " role="progressbar" style="width: 83%" aria-valuenow="75" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
        </div>

        <div class="main-content__skills-left--wrapper">
          <span>ReactJS</span>
          <div class="progress">
            <div class="progress-bar " role="progressbar" style="width: 45%" aria-valuenow="75" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
        </div>

        <div class="main-content__skills-left--wrapper">
          <span>Mongo Database</span>
          <div class="progress">
            <div class="progress-bar " role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
        </div>


        <div class="main-content__skills-left--wrapper">
          <span>JQuery</span>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="75" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
        </div>

      </div>



      <div class="col-sm-12 col-lg-6  main-content__skills-right">
        <div class="main-content__skills-left--wrapper">
          <span>HTML</span>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="50" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
        </div>

        <div class="main-content__skills-left--wrapper">
          <span>SCSS & CSS</span>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
        </div>

        <div class="main-content__skills-left--wrapper">
          <span>WordPress & PHP</span>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 96%" aria-valuenow="75" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
        </div>

        <div class="main-content__skills-left--wrapper">
          <span>GitLab CI/CD pipeline</span>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="75" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
        </div>

        <div class="main-content__skills-left--wrapper">
          <span>ASP.NET MVC</span>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 30%" aria-valuenow="75" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
        </div>

        <div class="main-content__skills-left--wrapper">
          <span>Agile methodology </span>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="75" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
